
body {
    font-family: "Poppins", sans-serif;
}
.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 15px;
    width: 400px;
    height: 500px;
    transition: 0.3s ease;
    cursor: pointer;
}
.card-title{
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.04em;
}
    .card-img{
        width: 250px;
        max-height: 350px;
    }

.card-container:hover{
    transform: scale(1.06);
    transition: 0.3s ease;
}