*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    background-color: #D9D0C7;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
}

ul{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 5rem;
}
ul li{
    list-style: none;
    font-size: 1.3rem;
    font-weight: 600;
}
img{
    width: 70px;
    height: 70px;
    border-radius: 35px;
    position: fixed;
    top: 3.82rem;
    left: 3rem;
}
button{
    width: 30px;
    height: 30px;
}