@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
}

ul{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 5rem;
    margin-bottom: 9rem;
}
ul li{
    list-style: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
}
.logo_nav{
    width: 70px;
    height: 70px;
    border-radius: 35px;
    position: fixed;
    top: 3.82rem;
    left: 3rem;
}
button{
    width: 30px;
    height: 30px;
}
a{
    color: black;
}
a:hover{
    text-decoration: none;
    color: black;
}
