.cart-button{
    position: relative;
    top: 5rem;
    width: 80px;
    height: 50px;
    right: 1.8rem;
    cursor: pointer;
}
.less-button{
    width: 2rem;
    height: 2rem;
    position: relative;
    left: 1.8rem;
    font-weight: 900;
    cursor: pointer;
}
.more-button{
    width: 2rem;
    height: 2rem;
    position: relative;
    left: 1.8rem;
    font-weight: 900;
    cursor: pointer;
}

.count{
    position: relative;
    left: 1.8rem;
}